<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cal.css">
    <title>Cal</title>
</head>
<body>
    <h3>熱量計算機</h3>

    <form action="/cal" method="post">
        <button type="submit">
            計算每日總消耗熱量
        </button>
    </form>

    <div id="result" class="result">
        卡路里
    </div>
</body>
</html>