<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

</head>

<body>
    <nav>
        <div class="logo">食能管家</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/user">User</a></li>
            <li><a class="active" href="/about">About us</a></li>
            <li><a href="/cal">Calculator</a></li>
            <li><a href="/recipe">Recipe</a></li>
            <li><a href="/">Log out</a></li>
        </ul>
    </nav>
    <div class="content">
        <div>
            <a href="https://www.canva.com/design/DAF0rguy0XY/p-7yONiLvpr7pPfhJdhdtw/edit?utm_content=DAF0rguy0XY&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">簡報</a>
            <h2>開發者1:邱子玲</h2>
            <p>聯絡資料:</p>
            <p>Email:01157021@mail.ntou.edu.tw</p>
            <h2>開發者2:郭泳函</h2>
            <p>聯絡資料:</p>
            <p>Email:01157038@mail.ntou.edu.tw</p>
        </div>

    </div>
</body>

</html>